/* Fuente de la letra*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* INITIAL */
body, html { /* Quitando margenes predeterminadas a la pagina */
    margin: 0;
    padding: 0;
    height: 100%;
}

/* NAVBAR */
.navbar { /* Ajuste general del navbar y fondo */
    padding: 1rem; 
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.navbar-collapse { /* Ajuste general del contenedor del contenedor del logo, nombre y opciones */
    align-items: center;
    justify-content: space-between;
}

.navbar-brand { /* coloca margen en el contenedor */
    padding: 0px;
    margin: 10px 0px;
}

.navbar-brand img {  /* Modificaciones en el logo de la compañia */
    transition: transform 1s ease, content 2s ease;
}

.navbar-brand:hover img {  /* Cambia propiedades en elogo del navbar cuando pasa el mouse sobre ella */
    content: url('../img/LogoYellow.png');
    transform: scale(0.95);
    filter: drop-shadow(1px 1px 30px rgba(255, 255, 255, 1)); /* Realiza la sombra sobre el elemento y no sobre el contenedor ejemimagenes   */
    transition: transform 1s ease-in-out, content 1s ease-in-out;
}

.navbar-brand h1 { /* Modificaciones en el nombre de la compañia */ 
    margin: 0px 0px 0px 10px ;
    color: #fff;
    font-size: 2.1rem;
    font-family: "Kanit", sans-serif;
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;    
}

.navbar-brand:hover h1 { /* Cambia de color el nombre de la compañia cuando pasa el mouse por encima */
    color:  rgba(217, 176, 115, 1); 
    transform: scale(0.95);
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}
.navbar-nav { /* Colocando margen al contenedor */
    padding: 0px 5px;
}

.navbar-nav .nav-link { /* Coloca propiedades especificas a las opciones del Navbar*/
    color: #fff;
    font-size: 1.2rem;
    font-family: "kanit", sans-serif;
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}

.active {
    color: rgba(217, 176, 115, 1) !important; 
}

.navbar-nav .nav-link:hover { /* realiza cambios a las opciones del Navbar cuando pasa el mouse sobre el elemento */
    color: rgba(217, 176, 115, 1); 
    transform: scale(0.95);
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}

.navbar-nav .login { /* Realiza cambios especificos en la opción login*/
    color: #fff;
    background-color:rgba(217, 176, 115, 1); 
    font-size: 1rem;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    border: solid 1px rgba(255, 255, 255, 1);
    border-radius: 4px;      
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease, background 1s ease;
}

.navbar-nav .login:hover { /* Realiza cambios especificos en la opción login cuando el mause pasa bobre el*/
    color: rgba(217, 176, 115, 1);
    background-color: transparent;   
    border: solid 1px rgba(217, 176, 115, 1);
    border-radius: 4px;      
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease , background 1s ease;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none !important; /* Oculta la imagen y el nombre de la compañia en dispositivos pequeños*/
    }
    .navbar {
        position: absolute; /* Mantener posición absoluta en dispositivos pequeños */
        width: 100%;
        z-index: 1000;
    }
    .navbar-nav .login { /* Agrega mayor tamaño de padding al login en dispositivos pequeños*/
        padding: 10px 20px;
    }

    .navbar-nav .nav-link { /* Agrega menor tamaño de fuente a las opciones del Navbar en dispositivos pequeños*/
        font-size: 0.8rem;
    }
}

.navbar-toggler {
    background-color: rgba(217, 176, 115, 1);
}

.navbar-toggler:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.navbar-toggler:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* FONDO HOME */
#carouselExampleIndicators {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

.carousel-inner img{
    height: 100vh;
    width: 100vh;
}


/* Location */
/* CAMBIOS GENERALES */
/* Cambios en el NAvbar */
#location{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282827;
}

#location .navbar {   
    background-color: rgba(71, 71, 71, 0.7);
    position: sticky;
    top: 0;
}

/* Mapa */

.tituloLocation{
    font-family: "Kanit", sans-serif;
    color: rgba(217, 176, 115, 1);
}

.titulo{
    padding: 15px;
    text-align: center;
}

.Mapa{
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    margin-bottom: 50px;
}   

  /* Footer */
.info-footer{
    background: #151410;
    padding-top: 45px;
    text-align: center;
    height: 200px;
}

#footer h3{
    color: #D9B073;
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
}

#footer p{
    color: #fff;
    font-family: "Kanit", sans-serif;
}

.footer-bottom{
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.copyright{
    background: #000;
    margin-top: auto;
    height: 100px;
    text-align: center;
    
}

#facebook{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#instagram{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#twitter{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

/* ABOUTUS */
#aboutus .navbar {   
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

/* section history */
.history { /* Cambio fondo de la section history*/
    background-color: rgb(40, 40, 39) ;
}

.history .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 20px;
    margin: 0px;
}

.history .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    margin: 0px 0px 10px 0px;
    height: 500px;
    max-width: 700px;
}

.history .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    padding: 20px;
    color: #fff;
    margin: 0px 80px 0px 50px;
}

/* Section Mission */
.mission { /* Cambio fondo de la section history*/
    background-color: rgba(0, 0, 0, 1) ;
    padding: 0px 100px 0px 0px;
}

.mission .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 5px;
    margin: 0px;
}

.mission .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    height: 100%;
    width: 75%;
}   

.mission .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

/* Section Vission */
.vission { /* Cambio fondo de la section history*/
    background-color: rgb(40, 40, 39);
    padding: 0px 50px;
}

.vission .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 5px;
    margin: 0px;
}

.vission .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    height: 100%;
    width: 70%;
}

.vission .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .container-fluid .card-img-top { /* Ajusta la altura de la imagen en dispositivos pequeños*/
        height: 350px;
    }

    .history .text-aboutus { /* Realiza los ajustes en el texto <p> */
        margin: 0px;
        padding: 20px;
    }

    .history .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        font-size: 1rem;   
    }

    .mission { /* ajustando padding para dispositivos pequeños */
        padding: 0px;
    }
    
    .mission .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        text-align: center !important;
        font-size: 1rem; 
    }
    
    .mission .card-img-top { /* Ajusta el tamaño de la imagen*/
        width: 100%;
        height: 100%;
    }
    
    .vission { /* ajustando padding para dispositivos pequeños */
        padding: 0px;
    }
    
    .vission .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        text-align: center !important;
        font-size: 1rem; 
    }

    .vission .card-img-top { /* Ajusta el tamaño de la imagen*/
        width: 100%;
        height: 100%;
    }
}




