/* traductor */
.google_translate_element {
border-style: double;
border: 33px;
text-align: center;
padding-block-start: 33px;
background-position: center;
background-color: rgb(188, 171, 76);
padding: 33px;
}

/* Fuente de la letra*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* INITIAL */
body, html { /* Quitando margenes predeterminadas a la pagina */
    margin: 0;
    padding: 0;
    height: 100%;
}

/* NAVBAR */
.navbar { /* Ajuste general del navbar y fondo */
    padding: 1rem; 
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.navbar-collapse { /* Ajuste general del contenedor del contenedor del logo, nombre y opciones */
    align-items: center;
    justify-content: space-between;
}

.navbar-brand { /* coloca margen en el contenedor */
    padding: 0px;
    margin: 10px 0px;
}

.navbar-brand img {  /* Modificaciones en el logo de la compañia */
    transition: transform 1s ease, content 2s ease;
}

.navbar-brand:hover img {  /* Cambia propiedades en elogo del navbar cuando pasa el mouse sobre ella */
    content: url('../img/LogoYellow.png');
    transform: scale(0.95);
    filter: drop-shadow(1px 1px 30px rgba(255, 255, 255, 1)); /* Realiza la sombra sobre el elemento y no sobre el contenedor ejemimagenes   */
    transition: transform 1s ease-in-out, content 1s ease-in-out;
}

.navbar-brand h1 { /* Modificaciones en el nombre de la compañia */ 
    margin: 0px 0px 0px 10px ;
    color: #fff;
    font-size: 2.1rem;
    font-family: "Kanit", sans-serif;
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;    
}

.navbar-brand:hover h1 { /* Cambia de color el nombre de la compañia cuando pasa el mouse por encima */
    color:  rgba(217, 176, 115, 1); 
    transform: scale(0.95);
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}
.navbar-nav { /* Colocando margen al contenedor */
    padding: 0px 5px;
}

.navbar-nav .nav-link { /* Coloca propiedades especificas a las opciones del Navbar*/
    color: #fff;
    font-size: 1.2rem;
    font-family: "kanit", sans-serif;
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}

.active {
    color: rgba(217, 176, 115, 1) !important; 
}

.navbar-nav .nav-link:hover { /* realiza cambios a las opciones del Navbar cuando pasa el mouse sobre el elemento */
    color: rgba(217, 176, 115, 1); 
    transform: scale(0.95);
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease;
}

.navbar-nav .login { /* Realiza cambios especificos en la opción login*/
    color: #fff;
    background-color:rgba(217, 176, 115, 1); 
    font-size: 1rem;
    font-family: "kanit", sans-serif;
    font-weight: bold;
    border: solid 1px rgba(255, 255, 255, 1);
    border-radius: 4px;      
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease, background 1s ease;
}

.navbar-nav .login:hover { /* Realiza cambios especificos en la opción login cuando el mause pasa bobre el*/
    color: rgba(217, 176, 115, 1);
    background-color: transparent;   
    border: solid 1px rgba(217, 176, 115, 1);
    border-radius: 4px;      
    transition: color 1s ease, text-shadow 1s ease, transform 1s ease , background 1s ease;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none !important; /* Oculta la imagen y el nombre de la compañia en dispositivos pequeños*/
    }
    .navbar {
        position: absolute; /* Mantener posición absoluta en dispositivos pequeños */
        width: 100%;
        z-index: 1000;
    }
    .navbar-nav .login { /* Agrega mayor tamaño de padding al login en dispositivos pequeños*/
        padding: 10px 20px;
    }

    .navbar-nav .nav-link { /* Agrega menor tamaño de fuente a las opciones del Navbar en dispositivos pequeños*/
        font-size: 0.8rem;
    }
}

.navbar-toggler {
    background-color: rgba(217, 176, 115, 1);
}

.navbar-toggler:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.navbar-toggler:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/* FONDO HOME */
#carouselExampleIndicators {
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
    justify-content: center;
}

.carousel-inner img{
    height: 100vh;
    width: 100vh;
}

.carousel-inner .carousel-caption {
    top: 300px;
    text-align: left;  
}

.carousel-caption h2 {
    color: #fff;
    font-size: 3rem;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 5px 5px black;
}

.carousel-caption p {
    color: #000;
    font-size: 2rem;
    font-family: "Kanit", sans-serif;
    text-shadow: 2px 5px 5px white;
}

@media screen and (max-width: 767px) {
    .carousel-caption h2 {
        color: #fff;
        font-size: 2rem;
        font-family: "Kanit", sans-serif;
        text-shadow: 2px 5px 5px black;
    }
    
    .carousel-caption p {
        color: #000;
        font-size: 1rem;
        font-family: "Kanit", sans-serif;
        text-shadow: 2px 5px 5px white;
    }

    .carousel-inner .carousel-caption {
        top: 145px;
        text-align: left;  
    }
    
}


/* Location */
/* CAMBIOS GENERALES */
/* Cambios en el NAvbar */
#location{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282827;
}

#location .navbar {   
    background-color: rgba(71, 71, 71, 0.7);
    position: fixed;
    box-shadow: 2px 2px 5px rgba(217, 176, 115, 1);    
}


/* Mapa */

.tituloLocation{
    font-family: "Kanit", sans-serif;
    color: rgba(217, 176, 115, 1);
    padding-top: 160px; 
}

.titulo{
    padding: 15px;
    text-align: center;
}

.Mapa{
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    margin-bottom: 50px;
}   

  /* Footer */
.info-footer{
    background: #151410;
    padding-top: 45px;
    text-align: center;
    height: 200px;
}

#footer h3{
    color: #D9B073;
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
}

#footer p{
    color: #fff;
    font-family: "Kanit", sans-serif;
}

.footer-bottom{
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.copyright{
    background: #000;
    margin-top: auto;
    height: 100px;
    text-align: center;
    
}

#facebook{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#instagram{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#twitter{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .tituloLocation{
        padding-top: 60px; 
    }
}

/* ABOUTUS */
#aboutus .navbar {   
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    box-shadow: 2px 2px 5px rgba(217, 176, 115, 1);
}

/* section history */
.history { /* Cambio fondo de la section history*/
    background-color: rgb(40, 40, 39) ;
    padding-top: 160px;
}

.history .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 20px;
    margin: 0px;
}

.history .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    margin: 0px 0px 10px 0px;
    height: 500px;
    max-width: 700px;
}

.history .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    padding: 20px;
    color: #fff;
    margin: 0px 80px 0px 50px;
}

/* Section Mission */
.mission { /* Cambio fondo de la section history*/
    background-color: rgba(0, 0, 0, 1) ;
    padding: 0px 100px 0px 0px;
}

.mission .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 5px;
    margin: 0px;
}

.mission .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    height: 100%;
    width: 75%;
}   

.mission .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

/* Section Vission */
.vission { /* Cambio fondo de la section history*/
    background-color: rgb(40, 40, 39);
    padding: 0px 50px;
}

.vission .title-aboutus { /* Realiza ajustes en el titulo*/
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: rgba(217, 176, 115, 1);
    font-size: 2.5rem;
    padding: 5px;
    margin: 0px;
}

.vission .card-img-top { /* Ajusta el tamaño de la imagen*/
    font-family: "Kanit", sans-serif;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(217, 176, 115, 1);
    height: 100%;
    width: 70%;
}

.vission .text-aboutus { /* Realiza los ajustes en el texto <p> */
    text-align: justify !important;
    font-family: "Kanit", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .history { /* Cambio padding de la section history*/
        padding-top: 60px;
    }

    .container-fluid .card-img-top { /* Ajusta la altura de la imagen en dispositivos pequeños*/
        height: 350px;
    }

    .history .text-aboutus { /* Realiza los ajustes en el texto <p> */
        margin: 0px;
        padding: 20px;
    }

    .history .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        font-size: 1rem;   
    }

    .mission { /* ajustando padding para dispositivos pequeños */
        padding: 0px;
    }
    
    .mission .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        text-align: center !important;
        font-size: 1rem; 
    }
    
    .mission .card-img-top { /* Ajusta el tamaño de la imagen*/
        width: 100%;
        height: 100%;
    }
    
    .vission { /* ajustando padding para dispositivos pequeños */
        padding: 0px;
    }
    
    .vission .text-aboutus { /*Ajusta el tamaño de la letra en dispositivos pequeños*/
        text-align: center !important;
        font-size: 1rem; 
    }

    .vission .card-img-top { /* Ajusta el tamaño de la imagen*/
        width: 100%;
        height: 100%;
    }
}

/* Modal del login*/
#Login_modal{
    display: none;
    text-align: center;
    background-color: rgb(0,0,0); /*Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.contenedor__todo{
    max-width: 800px;
    margin: auto;
    position: relative;
    top: 100px;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9B073;
    position: relative;
    margin-top: 65px;
    text-align: center;
    height: 451px;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
    font-weight: bold;

}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.09) 0px 10px 12px;
}

.caja__trasera button:hover{
    background: #fff;
    color: #D9B073;
}

.b-login {
    color: #000;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    position: relative;
    bottom: 94px;
    left: 181px;
}

.b-signup {
    color: #000;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    position: relative;
    bottom: 52px;
    left: 181px;
}


@media screen and (max-width: 767px) {
    .b-login {
        position: relative;
        bottom: 13px;
        left: 135px;
    } 
    .b-signup {
        position: relative;
        bottom: 17px;
        left: 138px;
    } 
}


/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    top: -185px;
    left: 10px;
    max-width: 800px;
    margin: auto;
    position: relative;
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    justify-content: center;
}

.contenedor__login-register,
.formulario__login
form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    margin-top: 140px;
    height: 451px;
    margin-top: 185px;
    width: 400px;
    max-width: 400px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #dbdbdb;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.09) 0px 10px 12px;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: #D9B073;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.09) 0px 10px 12px;
}
.contenedor__login-register form button:hover{
    background:#bd9456;
}

.Botones{
    display: flex;
    justify-content: space-evenly;
}


.formulario__login{
    opacity: 1;
    display: block;
    height: 450px;
    padding: 80px 20px;
}
.formulario__register{
    display: none;
}

#Validacion_LogIn{
    color: rgb(219, 70, 70);
    padding: 30px 0px 0px 0px;
}

@media screen and (max-width: 767px){
      .contenedor__todo{
        top: 10px;
    }
    .caja__trasera{
        position: relative;
        max-width: 330px;
        height: 330px;
        padding: 0px 0px;
        margin: auto;
    }
    .caja__trasera-register{
        padding-left: 0px;
        margin:auto;
    }
    
    .contenedor__login-register{
        position: relative;
        max-width: 330px;
        height: 380px;
    }
}

/* SERVICES */
/* NAVBAR SERVICES */
#services .navbar {   
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    box-shadow: 2px 2px 5px rgba(217, 176, 115, 1);
}

.img {
    display: flex;
    width: 125px;
    border-radius: 600px;
    left: 40px;
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    -ms-border-radius: 600px;
    -o-border-radius: 600px;
  }

  .row {
    margin: auto;
    padding: 25px;
    text-align: center;
    font-size: 3vw;
    left: 50px;
    top: 130px;
    font-family: "Kanit", sans-serif;
  }
  
  .letrasm {
    color: aliceblue;
    font-family: "Kanit", sans-serif;
  }
  
  .card1 {
    background-color: transparent;
    border: 1px solid #d9b073;
    border-radius: 20px;
  }
  .card1:hover {
    transform: scale(0.9);
    transition: 0.9s;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  
  .section1 {
    background-color: #282827;
    padding-top: 160px;

  }
  
  .titoll {
    color: aliceblue;
  }
  
  .descriptionn{
      color: azure;
  }

