/* Fuente de la letra*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Location */
.tituloLocation{
    font-family: "Kanit", sans-serif;
    color: rgb(217, 176, 115);
}

.titulo{
    text-align: center;
}

.Mapa{
    width: 100vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
}

  /* Footer */
#footer{
    background: #282827;
    margin-top: 80px;
}
#footer h3{
    color: #D9B073;
}
#footer p{
    color: #fff;
}
#footer hr{
    background: #D9B073;
    width: 100%;
    size: 3px;
}
.container{
    text-align: center;
}

.copyright{
    background: #000;
}

#facebook{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#instagram{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

#twitter{
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

/* FONDO HOME */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#carouselExampleIndicators {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    opacity: 70%;
    position: absolute;
}